{% extends 'index.html' %}

{% block content %}
<div class="container">
  <div class="pagetitle text-center">
    <h1 class="text-black">Registro de Inversionistas</h1>
  </div>
  
  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-white">Ingresa los datos del inversionista </h5>

            <form class="row g-3 needs-validation" method="POST" action="/admin/inversionista/save" novalidate>
              <div class="mb-3">
                <label for="ape" class="form-label text-black">Apellido</label>
                <input type="text" class="form-control" name="ape" required>
              </div>
              <div class="mb-3">
                <label for="nom" class="form-label text-black">Nombre</label>
                <input type="text" class="form-control" name="nom" required>
              </div>
              <div class="mb-3">
                <label for="dni" class="form-label text-black">DNI</label>
                <input type="text" class="form-control" name="dni" required>
              </div>
              
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-custom btn-light">Guardar</button>
                <a href="/admin/inversionista/list" class="btn btn-custom btn-secondary">Cancelar</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .pagetitle {
    margin-bottom: 20px;
  }

  .text-black {
    color: #000; /* Color negro para el encabezado y etiquetas */
  }

  .text-white {
    color: #fff; /* Color blanco para otros textos */
  }

  .btn-custom {
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }

  .btn-custom.btn-light {
    background-color: #f8f9fa; /* Color claro para el botón "Guardar" */
    color: #000; /* Texto en negro */
  }

  .btn-custom.btn-secondary {
    background-color: #6c757d; /* Color gris para el botón "Cancelar" */
  }

  .btn-custom.btn-light:hover {
    background-color: #e2e6ea; /* Color de fondo al pasar el mouse */
  }

  .btn-custom.btn-secondary:hover {
    background-color: #5a6268; /* Color de fondo al pasar el mouse */
  }
</style>
{% endblock %}
